@import "tailwindcss";


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: var(--color-main-color); /* Scrollbar color */
  border-radius: 4px; /* Rounded edges */
}


@layer base {
  :root {
    --color-bg: oklch(87% 0.065 274.039);
    --color-main-color: #03045E;
    --color-main-text-shadow: #03055e95;
    --color-main-hover: oklch(0.655 0.163 52.998);
    --color-main-button: #34347C;
  }

  h1,h2,h3,p,span,li{
    color: var(--color-main-color);
  }
  
}

@layer utilities {
  .text-shadow {
    text-shadow: 4px 4px 0 var(--color-main-text-shadow);
  }
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-bg);
  font-family: Poppins;
  overflow-x:hidden;
}




.hiddenClass {
  opacity: 0;
  visibility: hidden;
}


.slide-in-left {
   transform: translateX(-100%);
  animation: slideInHorizontal 1s forwards;
}

.slide-in-right {
   transform: translateX(100%);
  animation: slideInHorizontal 1s forwards;
}

.slide-in-top {
   transform: translateY(-100%);
  animation: slideInVertical 1s forwards;
}

@keyframes slideInHorizontal {
  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideInVertical {
  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}


